
.blocktriangle {
    height: 15%; /* tiny height */
    margin-right: 0%; /* little space */
    bottom: 0px;
  }
  
  .blocktree {
    height: 60%; /* big height */
    margin-right: 1%; /* little space */
    bottom: 0px;
  }
  
  .blockrectangle {
    height: 25%; /* small height */
    margin-right: 2%; /* little space */
    bottom: 0px;
  }
  
  .blocktower {
    height: 80%; /* biggest height */
    margin-right: 2%; /* little space */
    bottom: 0px;
  }
  
  .blockshrub {
    height: 20%; /* tiny height */
    margin-right: 6%; /* big space */
    bottom: 0px;
  }
  
  .blockcircle {
    height: 10%; /* smallest height */
    margin-right: 1%; /* little space */
    bottom: 0px;
  }
  
  .blockhill {
    height: 40%; /* medium height */
    margin-right: 2%; /* medium space */
    bottom: 0px;
  }
  
  .blockarch {
    height: 20%; /* small height */
    margin-right: 6%; /* large space */
    bottom: 0px;
  }
  
  .blocksign {
    height: 50%; /* medium-large height */
    margin-right: 1%;
    bottom: 0px;
  }

  .blocksprite {
    height: 20%; /* medium-large height */
    bottom: 0px;
  }
  