/* Center Bar */
.center-bar {
  position: relative;
  display: flex;
  width: 100svw;
  height: 100svh;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  border-bottom: 10svh solid #000;
}

/* City Container */
.city-container {
  position: relative;
  display: flex;
  width: 80%;
  aspect-ratio: 7/5;
  align-items: flex-end;
  margin-bottom: -0.1%;
}
