@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/yef8dto.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background: white;
}

/* body *, 
body *:before,
body *:after {
  cursor: inherit;
} */

body {
  /* @apply cursor-custom; */
}

button,
a, .clickable,
[data-cursor="pointer"] {
  /* @apply cursor-pointer; */
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {
  border: 1px solid red;
}

div {
  border: 1px solid blue;
} */

h1 {
  font-family: "calluna", serif;
  font-size: 8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 90%;
}

h2 {
  font-family: "calluna", serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  line-height: 90%;
}

h3 {
  font-family: "calluna", serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: "calluna-sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
}

h5 {
  font-family: "calluna-sans", sans-serif;
  font-weight: 700;
  color: #E70503;
}

p {
  font-family: "calluna-sans", sans-serif;
  font-size: 0.8rem;
  line-height: 120%;
  color: rgb(22, 22, 22);
}

li {
  font-family: "calluna-sans", sans-serif;
  font-size: 0.7rem;
  line-height: 120%;
  font-weight: 700;
}

a {
  font-family: "calluna-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.red {
  color: #E70503;
}

.bg-red {
  background: linear-gradient(to left, #e707032f 0%, rgba(231, 5, 3, 0) 100%);
}


.border-red {
  box-shadow: inset 0 0 0.5svh #00000031;
}

.font-greycliff {
  font-family: "calluna-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-quincy {
  font-family: "calluna", serif;
  font-weight: 400;
  font-style: normal;
}

/* backgrounds */
.red-radial-gr {
  background: radial-gradient(circle at 30% 0%, #e7070346, transparent);
}

.red-linear-gr {
  background: linear-gradient(to right, #e707034a, transparent);
}

.blocks-background {
  background: url('/icons/playground.svg') no-repeat center center;
  background-size: contain;
  background-position: 0% 0%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(200%) contrast(100%);
}

/* slide carousel */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
}


/* animations */
@keyframes pivotRotate {
  0% { transform: rotate(0); }
  10% { transform: rotate(-15deg); }
  25% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

.rattle {
  transform-origin: center;
  animation: pivotRotate 4s ease-in-out infinite;
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Internet Explorer and Edge */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
}
