@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: white;
}

*,
*:before,
*:after {
  cursor: url('/cursor/cursor.svg')
}

/* * {
  border: 1px solid red;
}

div {
  border: 1px solid blue;
} */

h1 {
  font-family: "quincy-cf", serif;
  font-size: 8em;
  font-weight: 400;
  font-style: normal;
  line-height: 90%;
}

h2 {
  font-family: "quincy-cf", serif;
  font-size: 2em;
  font-weight: 700;
  font-style: normal;
  line-height: 90%;
}

h3 {
  font-family: "quincy-cf", serif;
  font-size: 1.4em;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: "greycliff-cf", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  font-style: normal;
}

h5 {
  font-family: "quincy-cf", serif;
  font-size: 1.2em;
  font-weight: 400;
  font-style: italic;
  color: red;
}

p {
  font-family: "greycliff-cf", sans-serif;
  font-size: 0.8em;
  line-height: 120%;
  color: rgb(22, 22, 22);
}

li {
  font-family: "greycliff-cf", sans-serif;
  font-size: 0.7em;
  line-height: 120%;
  font-weight: 700;
}

button {
  font-family: "greycliff-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  cursor: url('/cursor/pointer.svg')
}